@import url('./colors.css');

/* ============================================================
    CONFIGURAÇÕES GLOBAIS E VARIÁVEIS
   ============================================================ */


[x-cloak] { 
    display: none !important; 
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: var(--font-primary); 
    background-color: var(--bg-page); 
    color: var(--text-main);
}

/* ============================================================
    LAYOUT PRINCIPAL (WRAPPERS)
   ============================================================ */
.wrapper-principal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section-wrapper {
    width: 100%;
    max-width: 1000px;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px 10px 60px;
}

.main-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
}

.form-card {
    background: var(--blanco);
    width: 100%;
    padding: 60px;
    position: relative;
    z-index: 10;
    border-radius: 0 0 12px 12px;
}

/* ============================================================
    HEADER E STEPPER
   ============================================================ */
.header-bpo-personalizado {
    width: 100%;
    padding-bottom: 50px ;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
}

.subtitulo {
    font-size: 18px;
    font-weight: 400;
    color: var(--gris-luna-escuro);
}

.header-logo img {
    height: 50px;
    width: auto;
}

.stepper-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 60px auto;
}

.stepper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.stepper-line {
    position: absolute;
    top: 22px;
    left: 50px;
    right: 50px;
    height: 2px;
    background-color: var(--gris-medio);
    z-index: 1;
}

.stepper-item {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.stepper-icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-medio);
    color: var(--blanco);
    transition: all 0.3s ease;
}

.stepper-icon-active { 
    background-color: var(--primary-color) !important; 
}

.stepper-item span {
    margin-top: 10px;
    font-size: 12px;
    font-weight: regular;
    color: var(--gris-estelar);
}

.stepper-text-active { 
    color: var(--gris-luna-escuro) !important;
    font-weight: bold;
}

/* ============================================================
    SISTEMA DE GRID
   ============================================================ */
.grid-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: end;
}

.bpo-col-12 { grid-column: span 12; }
.bpo-col-8  { grid-column: span 8; }
.bpo-col-6  { grid-column: span 6; }
.bpo-col-4  { grid-column: span 4; }

.bpo-col-4, .bpo-col-6, .bpo-col-12 {
    position: relative;
    margin-top: 0; 
}

/* ============================================================
    COMPONENTES DE FORMULÁRIO (BASE)
   ============================================================ */
.form-header-step { margin-bottom: 40px; }

.titulo-form {
    font-size: 24px;
    font-weight: bold;
    color: var(--gris-luna-escuro);
    margin-bottom: 8px;
}

.subtitulo-form {
    font-size: 16px;
    color: var(--gris-luna-escuro);
}

.input-bpo{
    width: 100%; 
    height: 45px;
    padding: 0 15px;
    border: 1px solid var(--gris-medio);
    border-radius: 5px;
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--gris-luna-escuro);
    background-color: var(--blanco);
    transition: border-color 0.2s;
}

.select-bpo {
    width: 100%; 
    height: 45px;
    padding: 0 15px;
    border: 1px solid var(--gris-medio);
    border-radius: 5px;
    font-family: var(--font-primary);
    font-size: 14px;
    background-color: var(--blanco);
    color: var(--gris-luna-escuro);
    -webkit-text-fill-color: var(--gris-luna-escuro);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    transition: all 0.2s ease;
}



.input-bpo:focus, .select-bpo:focus {
    outline: none;
    border-color: var(--primary-color);
}

.input-bpo:disabled, .select-bpo:disabled {
    color: var(--gris-estelar) !important;
    background-color: var(--gris-luna-claro) !important;    
    -webkit-text-fill-color: var(--gris-medio) !important;
    cursor: not-allowed !important;
    border-color: var(--gris-medio) !important;

    opacity: 1;
    
}

.select-bpo:invalid{
    color: #757575 !important;
    -webkit-text-fill-color: #757575 !important;
    font-weight: 500;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}

.select-bpo option {
    color: var(--gris-luna-escuro);
    -webkit-text-fill-color: var(--gris-luna-escuro);
    background-color: var(--blanco);
    padding: 10px;
}

.label-muted {
    display: block;
    color: var(--gris-luna-escuro);
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

.label-inline {
    font-size: 14px;
    color: var(--gris-luna-escuro);
    font-weight: 500;
}

.label-bpo {
    display: block;
    font-size: 13px; 
    font-weight: 600;
    color: var(--gris-luna-escuro); 
    margin-bottom: 6px;
    font-family: var(--font-primary);
}

.input-floating, .select-floating {
    height: 45px;
    line-height: 45px;
    padding: 0 15px !important; 
    width: 100%;
}

.label-floating {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gris-estelar);
    transition: all 0.2s ease;
    pointer-events: none;
    font-size: 14px;
    z-index: 10;
    background-color: transparent;
}


.input-floating:focus + .label-floating,
.input-floating:not(:placeholder-shown) + .label-floating,
.select-floating:focus + .label-floating,
.select-floating:not(:invalid) + .label-floating {
    top: 0;
    left: 10px;
    font-size: 11px;
    color: var(--gris-luna-escuro);
    background-color: var(--blanco);
    padding: 0 4px;
    font-weight: bold;
}


.input-floating::placeholder {
    color: transparent;
}


.input-floating:focus::placeholder {
    color: var(--gris-estelar);
}


.select-floating:invalid {
    color: transparent !important;
}


.select-floating:not(:invalid) {
    color: var(--gris-luna-escuro);
}


.input-floating:disabled:placeholder-shown + .label-floating {
    top: 50% !important;
    left: 15px !important;
    font-size: 14px !important;
    background-color: transparent !important;
}

.campo-obrigatorio {
    border: 2px solid var(--color-error) !important;
    border-radius: 5px;
    padding: 10px;
}

.error-message {
    color: var(--color-error);
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    bottom: -15px; 
    left: 8px;
    pointer-events: none;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-3px); }
    to { opacity: 1; transform: translateY(0); }
}


/* ============================================================
    CHECKBOX E RADIO
   ============================================================ */
.checkbox-item, .radio-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    accent-color: var(--primary-color);
}

.checkbox-item input, .radio-item input {
    width: 18px;
    height: 18px;
}

.radio-group-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 45px;
}

/* ============================================================
    SEÇÕES ESPECÍFICAS (HABILIDADES E PASSO 3)
   ============================================================ */
.habilidades-section { margin-top: 40px; }

.row-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-item + .row-item { 
    margin-top: 35px; 
}

.pergunta-linha {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.pergunta-coluna {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 160px;
}

.pergunta-texto {
    font-size: 14px;
    color: #43464F;
    min-width: 140px;
}

.input-ano, 
.input-grau, 
.input-empresa { 
    flex: 1; 
}

.input-cargo, 
.input-familiar { 
    flex: 2; 
}

.input-ano { 
    max-width: 150px; 
}

.input-grau { 
    max-width: 150px; 
}



.opcoes-radio {
    display: flex;
    gap: 15px;
}

/* ============================================================
    BOTÕES E FOOTER
   ============================================================ */
.form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
}

.btn-primary, .btn-submit {
    background-color: var(--primary-color);
    color: var(--blanco);
    padding: 12px 60px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 4px 12px rgba(237, 105, 106, 0.2);
}

.btn-submit { 
    background-color: var(--primary-color); 
    box-shadow: 0 4px 12px rgba(40, 49, 152, 0.2); 

}


.btn-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
    transform: none !important; /* Remove efeitos de escala ao clicar */
}

.btn-primary:hover { background-color: var(--primary-color-dark); }
.btn-submit:hover { opacity: 0.9; }

.btn-back {
    background: transparent;
    color: var(--gris-estelar);
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 40px;
    cursor: pointer;
    margin-right: auto;
}

.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(1);
}


/* ============================================================
    MENSAGEM DE SUCESSO
   ============================================================ */

.success-container {
    text-align: center;
    padding: 50px;
    font-family: var(--font-primary)
}
.card-sucesso {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
    max-width: 650px;
    width: 100%;
    text-align: center;
    border: 1px solid #e5e7eb;

}
.success-icon {
    font-size: 4rem;
    color: #10b981;
    margin-bottom: 20px;
}

.success-title {
    color: var(--gris-luna-escuro) ;
    margin-bottom: 10px;
}

.message-box {
    max-width: 600px;
    margin: 0 auto 30px;
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid #10b981; /* Detalhe em verde na lateral */
    text-align: left; /* Melhora a leitura do texto longo */
}

.message-box p {
    color: #4b5563;
    line-height: 1.6;
    margin-bottom: 10px;
}

.message-box strong {
    color: #111827;
}
/* Estilo específico para o link de retorno na página de sucesso */
.btn-back-success {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-back-success:hover {
    background-color: var(--primary-color);
    color: var(--blanco);
    text-decoration: none;
}


/* ============================================================
    RESPONSIVIDADE (MOBILE)
   ============================================================ */
@media (max-width: 768px) {
    .top-section-wrapper { padding: 20px 20px 0 20px; }
    
    .main-container, .form-card, .top-section-wrapper {
        width: 100% !important;
        max-width: 100vw !important;
        padding-left: 15px !important;  
        padding-right: 15px !important;
        box-sizing: border-box;        
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .grid-form {
        display: block; 
    }

   

    .input-bpo{
        width: 100%; 
        height: 45px;
    }
    

    .grid-form > div { 
        grid-column: span 12 !important; 
    }

    .pergunta-linha {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .pergunta-linha .input-bpo {
        width: 100% !important;
        max-width: 100% !important;
    }

    .btn-primary, .btn-back {
        padding: 12px 20px;
        width: auto;
    }

       
    .input-ano, .input-grau, .input-empresa, .input-cargo, .input-familiar {
        flex: none !important;
        max-width: 100% !important;
        width: 100%;
    }

    .btn-submit{
        padding: 12px;
    }

    

    .row-item, .grid-form, .pergunta-linha {
        display: flex !important;
        flex-direction: column !important;
        gap: 15px !important; 
        margin-bottom: 10px;
    }

   
    .bpo-col-4, .bpo-col-6, .bpo-col-8, .bpo-col-12 {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
    }

    
    .pergunta-texto {
        margin-bottom: 5px;
        display: block;
    }


}